<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/app.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="tests">
            <directory suffix="Test.php">./tests</directory>
            <exclude>./tests/xAPI/Passport</exclude>
        </testsuite>
        
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="STORAGE_PATH" value="/testing/statements" />
        <env name="STORAGE_BACKUP_PATH" value="/testing/backup_statements" />
        <env name="AWS_PATH_PREFIX" value="lrs_test/phpunit_testing/" />
        <env name="CLIENT_ID" value="85834ea3f1150032809f16ab1d4ec194b1ec8608" />
        <env name="CLIENT_SECRET" value="PxEr4aRcHs4Tnfz7BatQqVoovCqSxXbqXKcmeJom" />
    </php>
</phpunit>
